<div class="large-1 columns" id="vote-controls">
  <%= link_to "<i class='fa fa-chevron-up'></i>".html_safe, vote_up_question_path(question), remote: true, id: "vote_up" %>
    <h3><div id='votes-for-question-<%=question.id%>' ><%= question.votes_value %></div></h3><br />
  <%= link_to "<i class='fa fa-chevron-down'></i>".html_safe, vote_down_question_path(question), remote: true, id: "vote_down"  %>
</div>