<div class="row">
  <div class="large-12 columns">
    <div class="header text-center">
      <h1>matematicu&#8747;</h1>
    </div>
  </div>
</div>

<div class="content row">
  <div class="large-9 columns">
  <%= render partial: 'question', collection: @questions %>
  </div>

  <%= render 'shared/sidebar' %>

</div>
