// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$secondary-font-weight: 400;
$grey-color: #A9A9A9;
$small-font: 0.85rem;
$tag-link-color: #8B1640;

.answer-body{
  min-height: 110px;
}

.answer-links .add-answer-comment{
  color: $grey-color;
  font-weight: $secondary-font-weight;
  font-size: 13px;
  margin-bottom: 20px;
}

.answer-links a{
  font-size: $small-font;
  color: $grey-color;
}

.add-answer-comment a{
  font-size: $small-font;
  color: $grey-color;
}

 .add-answer-comment{
   color:  $tag-link-color;
   font-size: $small-font;
 }