// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$secondary-font-weight: 400;
$grey-color: #A9A9A9;

.answer-body{
  min-height: 110px;
}

.answer-links {
  color: $grey-color;
  font-weight: $secondary-font-weight;
  font-size: 13px;
  margin-bottom: 20px;
}

.answer-links a{
  color: $grey-color;
}