/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */

.row{
  max-width: 75rem;  
}

hr {
  margin: .5rem 0 .5rem;
}
.alert-box {
  margin-top: -40px; 
  padding: 1.3rem;
  border-width: 0 0 0 0.35rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }
  .alert-box.radius {
    border-radius: 0.6rem; }
  .alert-box.primary {
    border-left-color: #446cb3;
    background-color: #8da6d4; }
    .alert-box.primary strong {
      color: #446cb3; }
  .alert-box.secondary {
    border-left-color: #adb2bd;
    background-color: #ced1d7; }
    .alert-box.secondary strong {
      color: #adb2bd; }
  .alert-box.info {
    border-left-color: #89c4f4;
    background-color: #b8dcf8; }
    .alert-box.info strong {
      color: #89c4f4; }
  .alert-box.alert {
    border-left-color: #f22613;
    background-color: #f77d71; }
    .alert-box.alert strong {
      color: #f22613; }
  .alert-box.success {
    border-left-color: #48C13E;
    background-color: #65D05F; }
    .alert-box.success strong {
      color: #87d37c; }
  .alert-box.warning {
    border-left-color: #f89406;
    background-color: #fbbf69; }
    .alert-box.warning strong {
      color: #f89406; }

#notice {
  background-color: #C3FF91;
  font-weight: 700;
  color: #44731E;
  padding: 5px 0px 5px 20px;

}

#alert {
  background-color: #FF6775;
  font-weight: 700;
  color: #85363D;
  padding: 5px 0px 5px 20px;
}

.select2-search-choice{
  line-height: 21px !important;
}

.select2-container{
  width:100%;
  margin-bottom: 15px;
}

.top-bar{
  margin-bottom: 40px;
}

.question-data{
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}