// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey-color: #A9A9A9;
$darker-grey-color: #333333; 
$secondary-font-weight: 400;
$tag-link-color: #8B1640;
$tag-link-size: 14px;
$question-color: #000;

.question-time{
  color: $darker-grey-color;
  font-weight: $secondary-font-weight;
  font-size: 12px;
}

.question-title {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #D3D3D3; 
}

.question-aside {
  font-size: .9em;
  padding-left: 15px;
}

.question-row{
  margin-bottom: 40px;
  margin-top:30px;
}

.question-body {
  margin: 0.5em 0;
}

.question-title-text {
  a {
    font-size: .85em;
    color: $question-color;
  }
}

.add-comment{
  color: $grey-color;
  font-weight: $secondary-font-weight;
  font-size: 13px;
}

.add-comment a{
  color:$grey-color;
}

.question-count{
  color: $question-color;
  font-weight: $secondary-font-weight;
}

.user-info{
  background-color: #D9DCE2;
}

.fa-chevron-down{
  margin-top: -3;
}

.vote-controls{
  text-align: center;
}

.add-question-comment{
  color: $tag-link-color;
  font-size: 0.85em;
}
