// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.explanation{
  border: 1px solid #F0AD65;
  background-color: #FFF1C0;
  color: #F0692A;
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: 20px;
  margin-top: -10px;
  padding-left: 10px;
}